@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite + AR:wght@100..400&family=Playwrite+CU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-image: url("images/2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(58px);
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(8px);
  width: 35%;
  border: 1px solid black;
  border-radius: 6px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 10px 10px 35px rgb(13, 14, 14);
}

h1 {
  text-align: center;
  color: #fff;
}

input {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #1c1a1a;
  background: none;
  padding: 5px;
  color: #fff;
  font-weight: 800;
}

#btn {
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(215, 188, 6);
  ;
  padding: 10px;
  font-weight: 700;
  font-size: larger;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

#btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(227, 191, 9);
  cursor: pointer;
  box-shadow: 3px 3px 10px rgb(13, 14, 14);
  transform: scale(1.02);
}

form label {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width:1350px) {
  #form {
    width: 40%;
    margin-left: none;
    padding: 40px;
  }
}

@media screen and (max-width:1100px) {
  #form {
    width: 50%;
    margin-left: none;
    padding: 40px;
  }
}

@media screen and (max-width:700px) {
  #form {
    width: 80%;
    margin-left: none;
    padding: 40px;
  }
}